@model WedBanHangNet6.Models.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4" style="margin-left:20px; margin-top:10px; width:60%">
    <h5 class="card-header">Tạo mới quyền truy cập</h5>
    <form asp-action="Create"  method="post">
        <div class="card-body">
            <div class="mb-3 row">
                <label for="html5-search-input" class="col-md-2 col-form-label">Role Id</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" asp-for="RoleId" />
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-search-input" class="col-md-2 col-form-label">Role Name</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" asp-for="RoleName"  />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-email-input" class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="3" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div style="margin-top:-60px">
            <div style="margin-bottom:50px;margin-right:18px ">
                <a style="float:right" class="btn rounded-pill btn-outline-secondary" asp-action="Index">Xem danh sách </a>

            </div>
            <input style="float:right" class="btn rounded-pill btn-outline-secondary" type="submit" value="Tạo mới" />
        </div>

    </form>

</div>


